<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Depositar - Pokémon Bank</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
  <div class="container mt-5">
    <div class="mt-4">
      <h2 class="text-center mt-4">Pokémon Bank</h2>
      <a href="../menu.html" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>

    <div class="container mt-5">
      <h2 class="text-center mb-4">Depositar Fondos</h2>
      <form id="deposit-form" class="card p-4">
        <div class="form-group">
          <label for="deposit-amount">Monto a depositar:</label>
          <input type="number" id="deposit-amount" class="form-control" min="1" placeholder="Ingrese monto" required>
        </div>
        <button type="submit" class="btn btn-success btn-block">Depositar</button>
      </form>
    </div>
  </div>
</body>

</html>