<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gráfica de Transacciones - Pokémon Bank</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

  <div class="container mt-5">
    <!-- HEADER -->
    <div class="mt-4">
      <h2 class="text-center mt-4">Pokémon Bank</h2>
      <a href="../menu.html" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>

    <!-- LOGIC -->
    <h2 class="text-center mb-4">Gráfica de Transacciones</h2>

    <div class="graphic-container card p-4">
      <canvas id="chartTransaccion" width="400" height="400"></canvas>
    </div>
  </div>

  <script src="../../js/grafico.js"></script>

</body>

</html>